<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite-TestNG Example">
	<test name="TestCase of TestNG">
	
		<classes>
		
			<class name="testExample.TestNG02">
			
			<methods>
			<include name = "Test.*"/>
			</methods> 
			 
			</class>
				
			</classes>
		</test>
		<test name = "TestNG Project02">
		<classes>
		
			
			<class name="testExample.TestNG01">
			
			<methods>
			<exclude name = "testCase02"/>
			</methods>  
			
			</class>
		</classes>
	</test> 
</suite> 
